.notification_content_section {
  /* width: 99%; */
  background: #fff;

  /* margin: 10px; */
  /* margin-top: 0; */
  border-radius: 5px;
}
.notification_section {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #f1f2f6;
  /* margin-left: 1.9rem;
  margin-right: 0.7rem; */
}
.notification_tabs_root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* margin: 10px 5px 9px 0px; */
}
.main_button {
  /* width: 109px; */
  height: 45px;
  background-color: #fff !important;
  text-transform: capitalize !important;
  color: #8e8e8e !important;
}
/* .css-w56oqh {
  width: 16% !important;
} */
.notification_button{
  text-transform: capitalize !important;
  width: 120px ;
  height: 35px;
}