.css-diavtr-MuiDrawer-docked {
  .MuiDrawer-paper {
    width: 20% !important;
  }
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  img {
    width: 10rem;
  }
}
